/*menu animation*/
@import "media_queries_desktop";
@import "utils";

@import "keyframes_restaurants_page";

.dish {
  opacity: 0;
}
.image_restaurant.animated {
  animation: menu 1s ease forwards;
}
.dish.animated {
  animation: menu 1.5s ease forwards;
}
.dish.animated2 {
  animation: menu 2s ease forwards;
}
.dish.animated3 {
  animation: menu 3s ease forwards;
}
/*heart animation */

@include checkboxHeart;
/*animation to the right of the dishes*/
.dish {
  &_btn {
    position: relative;
    overflow: hidden;
    background-color: white;
  }

  .progress {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    background-color: $tertiary-color;
    z-index: 1;
  }

  .logo {
    color: white;
    border: none;
    font-size: 30px;
    margin-top: 20px;
    padding-left: 30%;
  }
  &_btn:focus {
    background-color: white;

    .progress {
      animation: progress 0.5s ease both;
    }
    .dish_price {
      animation: price 0.5s ease both;
    }
    .dish_subtitle {
      margin-right: 50px;
    }
    .dish_title {
      margin-right: 30px;
    }
  }

  &_btn:not(:focus) {
    .progress {
      animation: progressReverse 0.5s ease both;
    }
    .dish_price {
      animation: priceReverse 0.5s ease both;
    }
    .dish_subtitle {
      margin-right: 0px;
    }
    .dish_title {
      margin-right: 0px;
    }
  }
}

/*button order*/
.order:hover {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.15),
      rgba(255, 255, 255, 0.15)
    ),
    linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}
