@import "utils";
/*home page*/

@media (min-width: 768px) and (max-width: 1025px) {
 
  /*main container*/

  .main-container {
    max-width: 1024px;
  }

  /*navbar*/
  .navbar {
    &_btn {
      width: 25%;
    }
    .first_title {
      font-size: 40px;
    }
  }
  .section_title {
    width: 90%;
  }
  

  /*functioning section*/

  .functioning_number {
    display: flex;
  }

  /*restaurant cards*/
  @include restaurant-cards;
  .card_container {
    width: 45%;
    margin-left: 30px;
  }

  .heart {
    bottom: 50px;
  }

  /*restaurant page*/
  /*header + img*/
  @include header_restaurant_page;

  /*menu section*/

  .menu {
    @include menu;

    .dish_price {
      padding-left: 80px;
    }
  }
}
