/*menu animation*/
/*home page*/
/*loader*/
@keyframes loaderSpinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/*heart*/
@keyframes heartColor {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.font_weight700 {
  font-weight: 700;
}

.font_weight500 {
  font-weight: 500;
}

.font_weight300 {
  font-weight: 300;
}

.font_weight_bold {
  font-weight: bold;
}

.white {
  color: white;
}

.width100 {
  width: 100%;
}

.border_none {
  border: none;
}

.flex {
  display: flex;
}

/*mixin medias_queries tablet and desktop*/
/*loader*/
/*restaurant cards home page and restaurant page*/
/*restaurant page, header*/
/*menu*/
/* checkbox heart */
@media (min-width: 1025px) {
  /*navbar*/
  .loader_spinner {
    font-size: 180px;
  }
  .loader_icon, .loader_logo {
    font-size: 60px;
  }
  .loader_spinner {
    margin-left: 40%;
    margin-top: 15%;
  }
  .loader_icon {
    margin-left: 45%;
    margin-top: 20%;
  }
  .loader_logo {
    margin-left: 35%;
    margin-top: 30%;
    padding-top: 10px;
  }
  .loader_content {
    top: auto;
  }
  /*navbar*/
  .navbar_btn {
    width: 15%;
  }
  .navbar .first_title {
    font-size: 40px;
  }
  .section_title {
    padding-left: 150px;
    width: 90%;
  }
  /*functioning section*/
  .functioning {
    width: 90%;
  }
  .functioning .functioning_btn {
    width: 30%;
    margin-right: 15px;
  }
  .functioning .functioning_button {
    margin-left: 120px;
  }
  .functioning_p {
    display: flex;
  }
  /*header + img*/
  .header {
    background-color: white;
  }
  /*main*/
  .restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .restaurant .link {
    width: 100%;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 50px;
    display: block;
  }
  .card .btn_new {
    margin-left: 75%;
  }
  .card_container {
    width: 40%;
  }
  .margin {
    margin-left: 130px;
    margin-right: 50px;
  }
  .heart {
    bottom: 50px;
  }
  /*menu section*/
  .menu .menu {
    width: 80%;
    margin-left: 10%;
  }
  .menu .restaurant {
    justify-content: center;
  }
  .menu .menu_section {
    margin-left: 11%;
    width: 4%;
  }
  .menu .dish {
    padding-left: 10%;
    width: 80%;
  }
  .menu .order {
    width: 25%;
    margin-left: 35%;
  }
  .menu .dish_price {
    padding-right: 25px;
    margin-left: auto;
    float: right;
  }
  .footer {
    height: 130px;
    padding-bottom: 0;
  }
  .footer_logo {
    position: absolute;
    margin-left: 85%;
    padding-top: 60px;
    padding-left: 20px;
  }
  .footer_list {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: flex-end;
    padding-right: 200px;
  }
  .footer .element_list {
    margin: 20px;
  }
}
/*loader*/
@keyframes loaderSpinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/*heart*/
@keyframes heartColor {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.font_weight700 {
  font-weight: 700;
}

.font_weight500 {
  font-weight: 500;
}

.font_weight300 {
  font-weight: 300;
}

.font_weight_bold {
  font-weight: bold;
}

.white {
  color: white;
}

.width100 {
  width: 100%;
}

.border_none {
  border: none;
}

.flex {
  display: flex;
}

/*mixin medias_queries tablet and desktop*/
/*loader*/
/*restaurant cards home page and restaurant page*/
/*restaurant page, header*/
/*menu*/
/* checkbox heart */
/*menu restaurant page*/
@keyframes menu {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/*heart*/
@keyframes heartColor {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*animation to the right of the dishes*/
@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 60px;
  }
}
@keyframes price {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes progressReverse {
  0% {
    width: 60px;
  }
  100% {
    width: 0%;
  }
}
@keyframes priceReverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
.dish {
  opacity: 0;
}

.image_restaurant.animated {
  animation: menu 1s ease forwards;
}

.dish.animated {
  animation: menu 1.5s ease forwards;
}

.dish.animated2 {
  animation: menu 2s ease forwards;
}

.dish.animated3 {
  animation: menu 3s ease forwards;
}

/*heart animation */
.restaurant .hidden-checkbox:checked + .heart-label .fa-regular.fa-heart {
  opacity: 0;
}
.restaurant .hidden-checkbox:checked + .heart-label .fa-solid.fa-heart.heartFilled {
  visibility: visible;
  opacity: 1;
  animation: heartColor 1s ease;
}
.restaurant .hidden-checkbox:not(:checked) + .heart-label {
  opacity: 1;
  animation: heartColor 1s ease;
}

/*animation to the right of the dishes*/
.dish_btn {
  position: relative;
  overflow: hidden;
  background-color: white;
}
.dish .progress {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  background-color: #99e2d0;
  z-index: 1;
}
.dish .logo {
  color: white;
  border: none;
  font-size: 30px;
  margin-top: 20px;
  padding-left: 30%;
}
.dish_btn:focus {
  background-color: white;
}
.dish_btn:focus .progress {
  animation: progress 0.5s ease both;
}
.dish_btn:focus .dish_price {
  animation: price 0.5s ease both;
}
.dish_btn:focus .dish_subtitle {
  margin-right: 50px;
}
.dish_btn:focus .dish_title {
  margin-right: 30px;
}
.dish_btn:not(:focus) .progress {
  animation: progressReverse 0.5s ease both;
}
.dish_btn:not(:focus) .dish_price {
  animation: priceReverse 0.5s ease both;
}
.dish_btn:not(:focus) .dish_subtitle {
  margin-right: 0px;
}
.dish_btn:not(:focus) .dish_title {
  margin-right: 0px;
}

/*button order*/
.order:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}/*# sourceMappingURL=animation_restaurants_page.css.map */