.font_weight700 {
  font-weight: 700;
}

.font_weight500 {
  font-weight: 500;
}

.font_weight300 {
  font-weight: 300;
}

.font_weight_bold {
  font-weight: bold;
}

.white {
  color: white;
}

.width100 {
  width: 100%;
}

.border_none {
  border: none;
}

.flex {
  display: flex;
}

/*mixin medias_queries tablet and desktop*/
/*loader*/
/*restaurant cards home page and restaurant page*/
/*restaurant page, header*/
/*menu*/
.font_weight700 {
  font-weight: 700;
}

.font_weight500 {
  font-weight: 500;
}

.font_weight300 {
  font-weight: 300;
}

.font_weight_bold {
  font-weight: bold;
}

.white {
  color: white;
}

.width100 {
  width: 100%;
}

.border_none {
  border: none;
}

.flex {
  display: flex;
}

/*mixin medias_queries tablet and desktop*/
/*loader*/
/*restaurant cards home page and restaurant page*/
/*restaurant page, header*/
/*menu*/
/*home page*/
.font_weight700 {
  font-weight: 700;
}

.font_weight500 {
  font-weight: 500;
}

.font_weight300 {
  font-weight: 300;
}

.font_weight_bold {
  font-weight: bold;
}

.white {
  color: white;
}

.width100 {
  width: 100%;
}

.border_none {
  border: none;
}

.flex {
  display: flex;
}

/*mixin medias_queries tablet and desktop*/
/*loader*/
/*restaurant cards home page and restaurant page*/
/*restaurant page, header*/
/*menu*/
@media (min-width: 1025px) and (max-width: 1440px) {
  /*navbar*/
  .loader_spinner {
    font-size: 180px;
  }
  .loader_icon, .loader_logo {
    font-size: 60px;
  }
  .loader_spinner {
    margin-left: 40%;
    margin-top: 15%;
  }
  .loader_icon {
    margin-left: 45%;
    margin-top: 20%;
  }
  .loader_logo {
    margin-left: 35%;
    margin-top: 30%;
    padding-top: 10px;
  }
  /*navbar*/
  .navbar_btn {
    width: 15%;
  }
  .navbar .first_title {
    font-size: 40px;
  }
  .section_title {
    padding-left: 150px;
    width: 90%;
  }
  /*functioning section*/
  .functioning {
    width: 90%;
  }
  .functioning .functioning_btn {
    width: 30%;
    margin-right: 15px;
  }
  .functioning .functioning_button {
    margin-left: 120px;
  }
  .functioning_p {
    display: flex;
  }
  /*header + img*/
  .header {
    background-color: white;
  }
  /*main*/
  .restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .restaurant .link {
    width: 100%;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 50px;
    display: block;
  }
  .card .btn_new {
    margin-left: 70%;
  }
  .card_container {
    width: 40%;
  }
  .margin {
    margin-left: 130px;
  }
  .heart {
    bottom: 50px;
  }
  /*restaurant page */
  /* .dish {
        flex-direction: row;
        justify-content: flex-start;
    }

    .dish_btn {
        width: 322px;
        margin-left: 30px;
        margin-right: 20px;
    }*/
  /*menu section*/
  .menu .menu {
    width: 80%;
    margin-left: 10%;
  }
  .menu .restaurant {
    justify-content: center;
  }
  .menu .menu_section {
    margin-left: 12%;
    width: 4%;
  }
  .menu .dish {
    padding-left: 10%;
    width: 80%;
  }
  .menu .order {
    width: 25%;
    margin-left: 35%;
  }
  .menu .dish_price {
    padding-right: 25px;
    margin-left: auto;
    float: right;
  }
  .footer {
    height: 130px;
    padding-bottom: 0;
  }
  .footer_logo {
    position: absolute;
    margin-left: 85%;
    padding-top: 60px;
    padding-left: 20px;
  }
  .footer_list {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: flex-end;
    padding-right: 200px;
  }
  .footer .element_list {
    margin: 20px;
  }
}
.font_weight700 {
  font-weight: 700;
}

.font_weight500 {
  font-weight: 500;
}

.font_weight300 {
  font-weight: 300;
}

.font_weight_bold {
  font-weight: bold;
}

.white {
  color: white;
}

.width100 {
  width: 100%;
}

.border_none {
  border: none;
}

.flex {
  display: flex;
}

/*mixin medias_queries tablet and desktop*/
/*loader*/
/*restaurant cards home page and restaurant page*/
/*restaurant page, header*/
/*menu*/
/*home page*/
@media (min-width: 768px) and (max-width: 1024px) {
  /*loader*/
  .loader_spinner {
    font-size: 180px;
  }
  .loader_icon, .loader_logo {
    font-size: 60px;
  }
  .loader_spinner {
    margin-left: 38%;
    margin-top: 25%;
  }
  .loader_icon {
    margin-left: 45%;
    margin-top: 32%;
  }
  .loader_logo {
    margin-left: 30%;
    margin-top: 50%;
    padding-top: 20px;
  }
  /*main container*/
  .main-container {
    max-width: 1024px;
  }
  /*navbar*/
  .navbar_btn {
    width: 25%;
  }
  .navbar .first_title {
    font-size: 40px;
  }
  .section_title {
    width: 90%;
  }
  /*functioning section*/
  .functioning_number {
    display: flex;
  }
  /*restaurant cards*/
  .restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .restaurant .link {
    width: 100%;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 50px;
    display: block;
  }
  .card .btn_new {
    margin-left: 70%;
  }
  .card_container {
    width: 45%;
    margin-left: 30px;
  }
  .heart {
    bottom: 50px;
  }
  /*restaurant page*/
  /*header + img*/
  .header {
    background-color: white;
  }
  /*menu section*/
  .menu .menu {
    width: 80%;
    margin-left: 10%;
  }
  .menu .restaurant {
    justify-content: center;
  }
  .menu .menu_section {
    margin-left: 12%;
    width: 4%;
  }
  .menu .dish {
    padding-left: 10%;
    width: 80%;
  }
  .menu .order {
    width: 25%;
    margin-left: 35%;
  }
  .menu .dish_price {
    padding-left: 80px;
  }
}
/*navbar*/
.navbar {
  height: 350px;
  background-color: rgba(234, 234, 234, 0.4431372549);
  text-align: center;
}
.navbar .form_container {
  background-color: #eaeaea;
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.2509803922), 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.navbar .form_container input.value {
  font-size: 16px;
  padding-left: 10px;
  background-color: #eaeaea;
  width: 109px;
}
.navbar .first_title {
  font-size: 24px;
  height: 68px;
  padding-top: 30px;
  margin-bottom: 0;
}
.navbar .second_title {
  font-size: 18px;
  color: #353535;
  padding-bottom: 10px;
  margin-top: 0;
}
.navbar_btn {
  border-radius: 25px;
  height: 50px;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  width: 50%;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  display: inline-block;
}
.navbar .btn_p {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.section_title {
  font-size: 24px;
  padding-left: 20px;
}

/*functioning section*/
.functioning_number {
  padding: 6px 10px;
  font-size: 13px;
  border: solid 1.5px #9356dc;
  border-radius: 50%;
  background-color: #9356dc;
  position: absolute;
  margin-top: 25px;
}
.functioning_button {
  flex-direction: column;
  padding: 10px 20px 10px 20px;
  justify-content: center;
  margin-bottom: 50px;
}
.functioning_btn {
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: #f6f6f6;
  height: 70px;
  margin-left: 10px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  width: 100%;
}
.functioning_p {
  font-size: 16px;
  padding-right: 50px;
  text-align: left;
  display: flex;
}
.functioning_icon {
  float: left;
  margin-left: 35px;
  margin-right: 20px;
}
.functioning_icon--purple {
  color: #9356dc;
}

/* section cards restaurants*/
.card_container {
  position: relative;
}

.cards_restaurant {
  background-color: #f6f6f6;
  padding-top: 20px;
  padding-bottom: 40px;
}

.card {
  border-radius: 15px;
  background-color: white;
  width: 90%;
  flex-direction: column;
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}
.card .btn_new {
  width: 80px;
  height: 30px;
  background-color: #99e2d0;
  position: absolute;
  margin-left: 250px;
  margin-top: 10px;
  border-radius: 2px;
}
.card .btn_txt {
  color: #008766;
  font-size: 14px;
  margin-top: 3px;
  text-align: center;
}
.card_img {
  border-radius: 15px 15px 0 0;
  height: 200px;
  object-fit: cover;
}
.card_content {
  color: black;
  justify-content: space-between;
  padding: 10px;
}
.card_txt h4,
.card_txt p {
  margin: 5px;
}
.card_title {
  font-size: 18px;
}
.card_subtitle {
  font-size: 17px;
}

/*heart checkbox*/
.card_container {
  position: relative;
}

.heart {
  position: absolute;
  bottom: 25px;
  left: 70%;
}

.heart-label {
  padding-top: 15px;
  font-size: 25px;
  padding-right: 30px;
  /* position: relative;*/
  cursor: pointer;
}

.hidden-checkbox {
  position: absolute;
  left: -9999px;
}

.fa-regular.fa-heart {
  opacity: 0.5;
  position: absolute;
}

.fa-solid.fa-heart.heartFilled {
  color: transparent;
  background: linear-gradient(180deg, #ff79da -11.44%, #9356dc 123.93%);
  -webkit-background-clip: text;
  background-clip: text;
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

/*home page*/
.font_weight700 {
  font-weight: 700;
}

.font_weight500 {
  font-weight: 500;
}

.font_weight300 {
  font-weight: 300;
}

.font_weight_bold {
  font-weight: bold;
}

.white {
  color: white;
}

.width100 {
  width: 100%;
}

.border_none {
  border: none;
}

.flex {
  display: flex;
}

/*mixin medias_queries tablet and desktop*/
/*loader*/
/*restaurant cards home page and restaurant page*/
/*restaurant page, header*/
/*menu*/
@media (min-width: 1025px) and (max-width: 1440px) {
  /*navbar*/
  .loader_spinner {
    font-size: 180px;
  }
  .loader_icon, .loader_logo {
    font-size: 60px;
  }
  .loader_spinner {
    margin-left: 40%;
    margin-top: 15%;
  }
  .loader_icon {
    margin-left: 45%;
    margin-top: 20%;
  }
  .loader_logo {
    margin-left: 35%;
    margin-top: 30%;
    padding-top: 10px;
  }
  /*navbar*/
  .navbar_btn {
    width: 15%;
  }
  .navbar .first_title {
    font-size: 40px;
  }
  .section_title {
    padding-left: 150px;
    width: 90%;
  }
  /*functioning section*/
  .functioning {
    width: 90%;
  }
  .functioning .functioning_btn {
    width: 30%;
    margin-right: 15px;
  }
  .functioning .functioning_button {
    margin-left: 120px;
  }
  .functioning_p {
    display: flex;
  }
  /*header + img*/
  .header {
    background-color: white;
  }
  /*main*/
  .restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .restaurant .link {
    width: 100%;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 50px;
    display: block;
  }
  .card .btn_new {
    margin-left: 70%;
  }
  .card_container {
    width: 40%;
  }
  .margin {
    margin-left: 130px;
  }
  .heart {
    bottom: 50px;
  }
  /*restaurant page */
  /* .dish {
        flex-direction: row;
        justify-content: flex-start;
    }

    .dish_btn {
        width: 322px;
        margin-left: 30px;
        margin-right: 20px;
    }*/
  /*menu section*/
  .menu .menu {
    width: 80%;
    margin-left: 10%;
  }
  .menu .restaurant {
    justify-content: center;
  }
  .menu .menu_section {
    margin-left: 12%;
    width: 4%;
  }
  .menu .dish {
    padding-left: 10%;
    width: 80%;
  }
  .menu .order {
    width: 25%;
    margin-left: 35%;
  }
  .menu .dish_price {
    padding-right: 25px;
    margin-left: auto;
    float: right;
  }
  .footer {
    height: 130px;
    padding-bottom: 0;
  }
  .footer_logo {
    position: absolute;
    margin-left: 85%;
    padding-top: 60px;
    padding-left: 20px;
  }
  .footer_list {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: flex-end;
    padding-right: 200px;
  }
  .footer .element_list {
    margin: 20px;
  }
}
.font_weight700 {
  font-weight: 700;
}

.font_weight500 {
  font-weight: 500;
}

.font_weight300 {
  font-weight: 300;
}

.font_weight_bold {
  font-weight: bold;
}

.white {
  color: white;
}

.width100 {
  width: 100%;
}

.border_none {
  border: none;
}

.flex {
  display: flex;
}

/*mixin medias_queries tablet and desktop*/
/*loader*/
/*restaurant cards home page and restaurant page*/
/*restaurant page, header*/
/*menu*/
/*home page*/
@media (min-width: 768px) and (max-width: 1024px) {
  /*loader*/
  .loader_spinner {
    font-size: 180px;
  }
  .loader_icon, .loader_logo {
    font-size: 60px;
  }
  .loader_spinner {
    margin-left: 38%;
    margin-top: 25%;
  }
  .loader_icon {
    margin-left: 45%;
    margin-top: 32%;
  }
  .loader_logo {
    margin-left: 30%;
    margin-top: 50%;
    padding-top: 20px;
  }
  /*main container*/
  .main-container {
    max-width: 1024px;
  }
  /*navbar*/
  .navbar_btn {
    width: 25%;
  }
  .navbar .first_title {
    font-size: 40px;
  }
  .section_title {
    width: 90%;
  }
  /*functioning section*/
  .functioning_number {
    display: flex;
  }
  /*restaurant cards*/
  .restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .restaurant .link {
    width: 100%;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 50px;
    display: block;
  }
  .card .btn_new {
    margin-left: 70%;
  }
  .card_container {
    width: 45%;
    margin-left: 30px;
  }
  .heart {
    bottom: 50px;
  }
  /*restaurant page*/
  /*header + img*/
  .header {
    background-color: white;
  }
  /*menu section*/
  .menu .menu {
    width: 80%;
    margin-left: 10%;
  }
  .menu .restaurant {
    justify-content: center;
  }
  .menu .menu_section {
    margin-left: 12%;
    width: 4%;
  }
  .menu .dish {
    padding-left: 10%;
    width: 80%;
  }
  .menu .order {
    width: 25%;
    margin-left: 35%;
  }
  .menu .dish_price {
    padding-left: 80px;
  }
}
.font_weight700 {
  font-weight: 700;
}

.font_weight500 {
  font-weight: 500;
}

.font_weight300 {
  font-weight: 300;
}

.font_weight_bold {
  font-weight: bold;
}

.white {
  color: white;
}

.width100 {
  width: 100%;
}

.border_none {
  border: none;
}

.flex {
  display: flex;
}

/*mixin medias_queries tablet and desktop*/
/*loader*/
/*restaurant cards home page and restaurant page*/
/*restaurant page, header*/
/*menu*/
/*menu animation*/
/*home page*/
.font_weight700 {
  font-weight: 700;
}

.font_weight500 {
  font-weight: 500;
}

.font_weight300 {
  font-weight: 300;
}

.font_weight_bold {
  font-weight: bold;
}

.white {
  color: white;
}

.width100 {
  width: 100%;
}

.border_none {
  border: none;
}

.flex {
  display: flex;
}

/*mixin medias_queries tablet and desktop*/
/*loader*/
/*restaurant cards home page and restaurant page*/
/*restaurant page, header*/
/*menu*/
@media (min-width: 1025px) and (max-width: 1440px) {
  /*navbar*/
  .loader_spinner {
    font-size: 180px;
  }
  .loader_icon, .loader_logo {
    font-size: 60px;
  }
  .loader_spinner {
    margin-left: 40%;
    margin-top: 15%;
  }
  .loader_icon {
    margin-left: 45%;
    margin-top: 20%;
  }
  .loader_logo {
    margin-left: 35%;
    margin-top: 30%;
    padding-top: 10px;
  }
  /*navbar*/
  .navbar_btn {
    width: 15%;
  }
  .navbar .first_title {
    font-size: 40px;
  }
  .section_title {
    padding-left: 150px;
    width: 90%;
  }
  /*functioning section*/
  .functioning {
    width: 90%;
  }
  .functioning .functioning_btn {
    width: 30%;
    margin-right: 15px;
  }
  .functioning .functioning_button {
    margin-left: 120px;
  }
  .functioning_p {
    display: flex;
  }
  /*header + img*/
  .header {
    background-color: white;
  }
  /*main*/
  .restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .restaurant .link {
    width: 100%;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 50px;
    display: block;
  }
  .card .btn_new {
    margin-left: 70%;
  }
  .card_container {
    width: 40%;
  }
  .margin {
    margin-left: 130px;
  }
  .heart {
    bottom: 50px;
  }
  /*restaurant page */
  /* .dish {
        flex-direction: row;
        justify-content: flex-start;
    }

    .dish_btn {
        width: 322px;
        margin-left: 30px;
        margin-right: 20px;
    }*/
  /*menu section*/
  .menu .menu {
    width: 80%;
    margin-left: 10%;
  }
  .menu .restaurant {
    justify-content: center;
  }
  .menu .menu_section {
    margin-left: 12%;
    width: 4%;
  }
  .menu .dish {
    padding-left: 10%;
    width: 80%;
  }
  .menu .order {
    width: 25%;
    margin-left: 35%;
  }
  .menu .dish_price {
    padding-right: 25px;
    margin-left: auto;
    float: right;
  }
  .footer {
    height: 130px;
    padding-bottom: 0;
  }
  .footer_logo {
    position: absolute;
    margin-left: 85%;
    padding-top: 60px;
    padding-left: 20px;
  }
  .footer_list {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: flex-end;
    padding-right: 200px;
  }
  .footer .element_list {
    margin: 20px;
  }
}
.font_weight700 {
  font-weight: 700;
}

.font_weight500 {
  font-weight: 500;
}

.font_weight300 {
  font-weight: 300;
}

.font_weight_bold {
  font-weight: bold;
}

.white {
  color: white;
}

.width100 {
  width: 100%;
}

.border_none {
  border: none;
}

.flex {
  display: flex;
}

/*mixin medias_queries tablet and desktop*/
/*loader*/
/*restaurant cards home page and restaurant page*/
/*restaurant page, header*/
/*menu*/
/*menu restaurant page*/
@keyframes menu {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/*heart*/
@keyframes heartColor {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes emptyHeart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*animation to the right of the dishes*/
@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 60px;
  }
}
@keyframes price {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes progressReverse {
  0% {
    width: 60px;
  }
  100% {
    width: 0%;
  }
}
@keyframes priceReverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
.dish {
  opacity: 0;
}

.image_restaurant.animated {
  animation: menu 1s ease forwards;
}

.dish.animated {
  animation: menu 1.5s ease forwards;
}

.dish.animated2 {
  animation: menu 2s ease forwards;
}

.dish.animated3 {
  animation: menu 3s ease forwards;
}

/*heart animation */
.restaurant .hidden-checkbox:checked + .heart-label .fa-regular.fa-heart {
  opacity: 0;
}
.restaurant .hidden-checkbox:checked + .heart-label .fa-solid.fa-heart.heartFilled {
  visibility: visible;
  opacity: 1;
  animation: heartColor 1s ease;
}
.restaurant .hidden-checkbox:not(:checked) + .heart-label {
  opacity: 1;
  animation: emptyHeart 1s ease;
}

/*animation to the right of the dishes*/
.dish_btn {
  position: relative;
  overflow: hidden;
  background-color: white;
}
.dish .progress {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  background-color: #99e2d0;
  z-index: 1;
}
.dish .logo {
  color: white;
  border: none;
  font-size: 30px;
  margin-top: 20px;
  padding-left: 30%;
}
.dish_btn:focus {
  background-color: white;
}
.dish_btn:focus .progress {
  animation: progress 0.5s ease both;
}
.dish_btn:focus .dish_price {
  animation: price 0.5s ease both;
}
.dish_btn:focus .dish_subtitle {
  margin-right: 50px;
}
.dish_btn:focus .dish_title {
  margin-right: 30px;
}
.dish_btn:not(:focus) .progress {
  animation: progressReverse 0.5s ease both;
}
.dish_btn:not(:focus) .dish_price {
  animation: priceReverse 0.5s ease both;
}
.dish_btn:not(:focus) .dish_subtitle {
  margin-right: 0px;
}
.dish_btn:not(:focus) .dish_title {
  margin-right: 0px;
}

/*button order*/
.order:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

/*menu restaurant page*/
@keyframes menu {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/*heart*/
@keyframes heartColor {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes emptyHeart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*animation to the right of the dishes*/
@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 60px;
  }
}
@keyframes price {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes progressReverse {
  0% {
    width: 60px;
  }
  100% {
    width: 0%;
  }
}
@keyframes priceReverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
/* footer */
.footer {
  background-color: #353535;
  padding: 22px 25px 22px 25px;
}
.footer_logo {
  font-size: 18px;
  color: white;
  font-family: "shrikhand";
  font-weight: 500;
}
.footer_list {
  list-style: none;
  color: white;
  font-size: 16px;
  padding-left: 0;
}
.footer_list a {
  color: white;
}
.footer .element_list {
  padding-bottom: 10px;
}
.footer_icon {
  margin-right: 15px;
  width: 11px;
}

/*main-container*/
body {
  margin: 0;
  width: 100%;
  font-family: "Roboto";
}

.main-container {
  width: 100%;
  max-width: 768px;
  box-sizing: border-box;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .main-container {
    min-width: 1024px;
    max-width: 1440px;
  }
}

a {
  text-decoration: none;
}

/*header*/
.header {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  width: 100%;
}
.header_logo {
  width: 50%;
}
@media (min-width: 768px) and (max-width: 1440px) {
  .header_logo {
    width: 20%;
  }
}

/*image*/
.image_restaurant {
  position: absolute;
  height: 30%;
  object-fit: cover;
}

/*restaurant name*/
.restaurant_name {
  padding-left: 20px;
  font-size: 28px;
  font-weight: 400;
  font-family: "shrikhand";
  height: 40px;
}

.heart-label {
  font-size: 30px;
  padding-left: 35px;
  padding-top: 20px;
  opacity: 0.8;
  cursor: pointer;
}

.hidden-checkbox {
  position: absolute;
  left: -9999px;
}

.fa-regular.fa-heart {
  opacity: 0.5;
  position: absolute;
}

.fa-solid.fa-heart.heartFilled {
  color: transparent;
  background: linear-gradient(180deg, #ff79da -11.44%, #9356dc 123.93%);
  -webkit-background-clip: text;
  background-clip: text;
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

/*main --> menu*/
.menu {
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  padding-top: 20px;
  position: relative;
  margin-top: 210px;
  /* width: 100%;*/
}
.menu_section {
  font-size: 16px;
  padding-bottom: 3px;
  margin-left: 10px;
  border-bottom: 3px solid #99e2d0;
  width: 10%;
}

.dish {
  padding-bottom: 20px;
}
.dish_button {
  flex-direction: column;
  padding: 3px 20px 10px 10px;
  width: 90%;
  margin-right: 100px;
}
.dish_btn {
  border-radius: 20px;
  background-color: white;
  height: 70px;
  padding-left: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
}
.dish_title {
  font-size: 18px;
  margin: 0;
  margin-top: 15px;
}
.dish_content {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 1;
  position: relative;
  padding-right: 50px;
}
.dish_subtitle {
  font-size: 15px;
  margin-top: 5px;
}
.dish_price {
  font-size: 15px;
  color: #353535;
  padding-right: 50px;
  margin-top: -38px;
  margin-left: 75%;
  z-index: 1;
  position: relative;
  padding-left: 50px;
  width: 20px;
}

.order {
  border-radius: 25px;
  height: 50px;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  width: 50%;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  margin-left: 25%;
  margin-top: 10px;
  margin-bottom: 40px;
}
.order_p {
  color: white;
}

/*loader*/
@keyframes loaderSpinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/*heart*/
@keyframes heartColor {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes emptyHeart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*loader*/
/*Loader*/
.loader {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  animation: loader 3s both;
  z-index: 1;
}
.loader_content {
  font-size: 40px;
  display: flex;
  position: absolute;
}
.loader_spinner {
  animation: loaderSpinner 3s linear both;
  position: absolute;
  margin-left: 35%;
  margin-top: 40%;
  font-size: 120px;
  color: white;
}
.loader_icon {
  color: #ff79da;
  margin-left: 45%;
  margin-top: 50%;
}
.loader_logo {
  color: white;
  font-family: "shrikhand";
  font-weight: 500;
  margin-left: 20%;
  margin-top: 70%;
  padding-top: 20px;
}

/*navbar button */
.navbar_btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

/*heart card*/
.card .hidden-checkbox:checked + .heart-label .fa-regular.fa-heart {
  opacity: 0;
}
.card .hidden-checkbox:checked + .heart-label .fa-solid.fa-heart.heartFilled {
  visibility: visible;
  opacity: 1;
  animation: heartColor 1s ease;
}
.card .hidden-checkbox:not(:checked) + .heart-label {
  opacity: 1;
  animation: emptyHeart 1s ease;
}

/* footer */
.footer {
  background-color: #353535;
  padding: 22px 25px 22px 25px;
}
.footer_logo {
  font-size: 18px;
  color: white;
  font-family: "shrikhand";
  font-weight: 500;
}
.footer_list {
  list-style: none;
  color: white;
  font-size: 16px;
  padding-left: 0;
}
.footer_list a {
  color: white;
}
.footer .element_list {
  padding-bottom: 10px;
}
.footer_icon {
  margin-right: 15px;
  width: 11px;
}

/*main-container*/
body {
  margin: 0;
  width: 100%;
  font-family: "Roboto";
}

.main-container {
  width: 100%;
  max-width: 768px;
  box-sizing: border-box;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .main-container {
    min-width: 1024px;
    max-width: 1440px;
  }
}

a {
  text-decoration: none;
}

/*header*/
.header {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  width: 100%;
}
.header_logo {
  width: 50%;
}
@media (min-width: 768px) and (max-width: 1440px) {
  .header_logo {
    width: 20%;
  }
}

/*menu animation*/
/*home page*/
.font_weight700 {
  font-weight: 700;
}

.font_weight500 {
  font-weight: 500;
}

.font_weight300 {
  font-weight: 300;
}

.font_weight_bold {
  font-weight: bold;
}

.white {
  color: white;
}

.width100 {
  width: 100%;
}

.border_none {
  border: none;
}

.flex {
  display: flex;
}

/*mixin medias_queries tablet and desktop*/
/*loader*/
/*restaurant cards home page and restaurant page*/
/*restaurant page, header*/
/*menu*/
@media (min-width: 1025px) and (max-width: 1440px) {
  /*navbar*/
  .loader_spinner {
    font-size: 180px;
  }
  .loader_icon, .loader_logo {
    font-size: 60px;
  }
  .loader_spinner {
    margin-left: 40%;
    margin-top: 15%;
  }
  .loader_icon {
    margin-left: 45%;
    margin-top: 20%;
  }
  .loader_logo {
    margin-left: 35%;
    margin-top: 30%;
    padding-top: 10px;
  }
  /*navbar*/
  .navbar_btn {
    width: 15%;
  }
  .navbar .first_title {
    font-size: 40px;
  }
  .section_title {
    padding-left: 150px;
    width: 90%;
  }
  /*functioning section*/
  .functioning {
    width: 90%;
  }
  .functioning .functioning_btn {
    width: 30%;
    margin-right: 15px;
  }
  .functioning .functioning_button {
    margin-left: 120px;
  }
  .functioning_p {
    display: flex;
  }
  /*header + img*/
  .header {
    background-color: white;
  }
  /*main*/
  .restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .restaurant .link {
    width: 100%;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 50px;
    display: block;
  }
  .card .btn_new {
    margin-left: 70%;
  }
  .card_container {
    width: 40%;
  }
  .margin {
    margin-left: 130px;
  }
  .heart {
    bottom: 50px;
  }
  /*restaurant page */
  /* .dish {
        flex-direction: row;
        justify-content: flex-start;
    }

    .dish_btn {
        width: 322px;
        margin-left: 30px;
        margin-right: 20px;
    }*/
  /*menu section*/
  .menu .menu {
    width: 80%;
    margin-left: 10%;
  }
  .menu .restaurant {
    justify-content: center;
  }
  .menu .menu_section {
    margin-left: 12%;
    width: 4%;
  }
  .menu .dish {
    padding-left: 10%;
    width: 80%;
  }
  .menu .order {
    width: 25%;
    margin-left: 35%;
  }
  .menu .dish_price {
    padding-right: 25px;
    margin-left: auto;
    float: right;
  }
  .footer {
    height: 130px;
    padding-bottom: 0;
  }
  .footer_logo {
    position: absolute;
    margin-left: 85%;
    padding-top: 60px;
    padding-left: 20px;
  }
  .footer_list {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: flex-end;
    padding-right: 200px;
  }
  .footer .element_list {
    margin: 20px;
  }
}
.font_weight700 {
  font-weight: 700;
}

.font_weight500 {
  font-weight: 500;
}

.font_weight300 {
  font-weight: 300;
}

.font_weight_bold {
  font-weight: bold;
}

.white {
  color: white;
}

.width100 {
  width: 100%;
}

.border_none {
  border: none;
}

.flex {
  display: flex;
}

/*mixin medias_queries tablet and desktop*/
/*loader*/
/*restaurant cards home page and restaurant page*/
/*restaurant page, header*/
/*menu*/
/*menu restaurant page*/
@keyframes menu {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/*heart*/
@keyframes heartColor {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes emptyHeart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*animation to the right of the dishes*/
@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 60px;
  }
}
@keyframes price {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes progressReverse {
  0% {
    width: 60px;
  }
  100% {
    width: 0%;
  }
}
@keyframes priceReverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
.dish {
  opacity: 0;
}

.image_restaurant.animated {
  animation: menu 1s ease forwards;
}

.dish.animated {
  animation: menu 1.5s ease forwards;
}

.dish.animated2 {
  animation: menu 2s ease forwards;
}

.dish.animated3 {
  animation: menu 3s ease forwards;
}

/*heart animation */
.restaurant .hidden-checkbox:checked + .heart-label .fa-regular.fa-heart {
  opacity: 0;
}
.restaurant .hidden-checkbox:checked + .heart-label .fa-solid.fa-heart.heartFilled {
  visibility: visible;
  opacity: 1;
  animation: heartColor 1s ease;
}
.restaurant .hidden-checkbox:not(:checked) + .heart-label {
  opacity: 1;
  animation: emptyHeart 1s ease;
}

/*animation to the right of the dishes*/
.dish_btn {
  position: relative;
  overflow: hidden;
  background-color: white;
}
.dish .progress {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  background-color: #99e2d0;
  z-index: 1;
}
.dish .logo {
  color: white;
  border: none;
  font-size: 30px;
  margin-top: 20px;
  padding-left: 30%;
}
.dish_btn:focus {
  background-color: white;
}
.dish_btn:focus .progress {
  animation: progress 0.5s ease both;
}
.dish_btn:focus .dish_price {
  animation: price 0.5s ease both;
}
.dish_btn:focus .dish_subtitle {
  margin-right: 50px;
}
.dish_btn:focus .dish_title {
  margin-right: 30px;
}
.dish_btn:not(:focus) .progress {
  animation: progressReverse 0.5s ease both;
}
.dish_btn:not(:focus) .dish_price {
  animation: priceReverse 0.5s ease both;
}
.dish_btn:not(:focus) .dish_subtitle {
  margin-right: 0px;
}
.dish_btn:not(:focus) .dish_title {
  margin-right: 0px;
}

/*button order*/
.order:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

/*menu restaurant page*/
@keyframes menu {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/*heart*/
@keyframes heartColor {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes emptyHeart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*animation to the right of the dishes*/
@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 60px;
  }
}
@keyframes price {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes progressReverse {
  0% {
    width: 60px;
  }
  100% {
    width: 0%;
  }
}
@keyframes priceReverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
.font_weight700 {
  font-weight: 700;
}

.font_weight500 {
  font-weight: 500;
}

.font_weight300 {
  font-weight: 300;
}

.font_weight_bold {
  font-weight: bold;
}

.white {
  color: white;
}

.width100 {
  width: 100%;
}

.border_none {
  border: none;
}

.flex {
  display: flex;
}

/*mixin medias_queries tablet and desktop*/
/*loader*/
/*restaurant cards home page and restaurant page*/
/*restaurant page, header*/
/*menu*/
/*home page*/
@media (min-width: 768px) and (max-width: 1024px) {
  /*loader*/
  .loader_spinner {
    font-size: 180px;
  }
  .loader_icon, .loader_logo {
    font-size: 60px;
  }
  .loader_spinner {
    margin-left: 38%;
    margin-top: 25%;
  }
  .loader_icon {
    margin-left: 45%;
    margin-top: 32%;
  }
  .loader_logo {
    margin-left: 30%;
    margin-top: 50%;
    padding-top: 20px;
  }
  /*main container*/
  .main-container {
    max-width: 1024px;
  }
  /*navbar*/
  .navbar_btn {
    width: 25%;
  }
  .navbar .first_title {
    font-size: 40px;
  }
  .section_title {
    width: 90%;
  }
  /*functioning section*/
  .functioning_number {
    display: flex;
  }
  /*restaurant cards*/
  .restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .restaurant .link {
    width: 100%;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 50px;
    display: block;
  }
  .card .btn_new {
    margin-left: 70%;
  }
  .card_container {
    width: 45%;
    margin-left: 30px;
  }
  .heart {
    bottom: 50px;
  }
  /*restaurant page*/
  /*header + img*/
  .header {
    background-color: white;
  }
  /*menu section*/
  .menu .menu {
    width: 80%;
    margin-left: 10%;
  }
  .menu .restaurant {
    justify-content: center;
  }
  .menu .menu_section {
    margin-left: 12%;
    width: 4%;
  }
  .menu .dish {
    padding-left: 10%;
    width: 80%;
  }
  .menu .order {
    width: 25%;
    margin-left: 35%;
  }
  .menu .dish_price {
    padding-left: 80px;
  }
}
/*home page*/
.font_weight700 {
  font-weight: 700;
}

.font_weight500 {
  font-weight: 500;
}

.font_weight300 {
  font-weight: 300;
}

.font_weight_bold {
  font-weight: bold;
}

.white {
  color: white;
}

.width100 {
  width: 100%;
}

.border_none {
  border: none;
}

.flex {
  display: flex;
}

/*mixin medias_queries tablet and desktop*/
/*loader*/
/*restaurant cards home page and restaurant page*/
/*restaurant page, header*/
/*menu*/
@media (min-width: 1025px) and (max-width: 1440px) {
  /*navbar*/
  .loader_spinner {
    font-size: 180px;
  }
  .loader_icon, .loader_logo {
    font-size: 60px;
  }
  .loader_spinner {
    margin-left: 40%;
    margin-top: 15%;
  }
  .loader_icon {
    margin-left: 45%;
    margin-top: 20%;
  }
  .loader_logo {
    margin-left: 35%;
    margin-top: 30%;
    padding-top: 10px;
  }
  /*navbar*/
  .navbar_btn {
    width: 15%;
  }
  .navbar .first_title {
    font-size: 40px;
  }
  .section_title {
    padding-left: 150px;
    width: 90%;
  }
  /*functioning section*/
  .functioning {
    width: 90%;
  }
  .functioning .functioning_btn {
    width: 30%;
    margin-right: 15px;
  }
  .functioning .functioning_button {
    margin-left: 120px;
  }
  .functioning_p {
    display: flex;
  }
  /*header + img*/
  .header {
    background-color: white;
  }
  /*main*/
  .restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .restaurant .link {
    width: 100%;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 50px;
    display: block;
  }
  .card .btn_new {
    margin-left: 70%;
  }
  .card_container {
    width: 40%;
  }
  .margin {
    margin-left: 130px;
  }
  .heart {
    bottom: 50px;
  }
  /*restaurant page */
  /* .dish {
        flex-direction: row;
        justify-content: flex-start;
    }

    .dish_btn {
        width: 322px;
        margin-left: 30px;
        margin-right: 20px;
    }*/
  /*menu section*/
  .menu .menu {
    width: 80%;
    margin-left: 10%;
  }
  .menu .restaurant {
    justify-content: center;
  }
  .menu .menu_section {
    margin-left: 12%;
    width: 4%;
  }
  .menu .dish {
    padding-left: 10%;
    width: 80%;
  }
  .menu .order {
    width: 25%;
    margin-left: 35%;
  }
  .menu .dish_price {
    padding-right: 25px;
    margin-left: auto;
    float: right;
  }
  .footer {
    height: 130px;
    padding-bottom: 0;
  }
  .footer_logo {
    position: absolute;
    margin-left: 85%;
    padding-top: 60px;
    padding-left: 20px;
  }
  .footer_list {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: flex-end;
    padding-right: 200px;
  }
  .footer .element_list {
    margin: 20px;
  }
}/*# sourceMappingURL=main.css.map */