.font_weight700 {
  font-weight: 700;
}

.font_weight500 {
  font-weight: 500;
}

.font_weight300 {
  font-weight: 300;
}

.font_weight_bold {
  font-weight: bold;
}

.white {
  color: white;
}

.width100 {
  width: 100%;
}

.border_none {
  border: none;
}

.flex {
  display: flex;
}

/*mixin medias_queries tablet and desktop*/
/*loader*/
/*restaurant cards home page and restaurant page*/
/*restaurant page, header*/
/*menu*/
/*home page*/
.font_weight700 {
  font-weight: 700;
}

.font_weight500 {
  font-weight: 500;
}

.font_weight300 {
  font-weight: 300;
}

.font_weight_bold {
  font-weight: bold;
}

.white {
  color: white;
}

.width100 {
  width: 100%;
}

.border_none {
  border: none;
}

.flex {
  display: flex;
}

/*mixin medias_queries tablet and desktop*/
/*loader*/
/*restaurant cards home page and restaurant page*/
/*restaurant page, header*/
/*menu*/
@media (min-width: 1025px) and (max-width: 1440px) {
  /*navbar*/
  .loader_spinner {
    font-size: 180px;
  }
  .loader_icon, .loader_logo {
    font-size: 60px;
  }
  .loader_spinner {
    margin-left: 40%;
    margin-top: 15%;
  }
  .loader_icon {
    margin-left: 45%;
    margin-top: 20%;
  }
  .loader_logo {
    margin-left: 35%;
    margin-top: 30%;
    padding-top: 10px;
  }
  /*navbar*/
  .navbar_btn {
    width: 15%;
  }
  .navbar .first_title {
    font-size: 40px;
  }
  .section_title {
    padding-left: 150px;
  }
  /*functioning section*/
  .functioning {
    width: 90%;
  }
  .functioning .functioning_btn {
    width: 30%;
  }
  .functioning .functioning_button {
    margin-left: 150px;
  }
  .functioning_p {
    display: flex;
  }
  /*restaurant page */
  /*header + img*/
  .header {
    background-color: white;
  }
  /*main*/
  .restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .btn_new {
    margin-left: 70%;
  }
  .restaurant a {
    width: 35%;
    margin-bottom: 30px;
    margin-left: 120px;
  }
  .card .btn_new {
    margin-left: 70%;
  }
  .dish {
    flex-direction: row;
    justify-content: flex-start;
  }
  .dish_btn {
    width: 322px;
    margin-left: 30px;
    margin-right: 20px;
  }
  /*menu section*/
  .menu .menu {
    width: 80%;
    margin-left: 10%;
  }
  .menu .restaurant {
    justify-content: center;
  }
  .menu .menu_section {
    margin-left: 12%;
    width: 4%;
  }
  .menu .dish {
    padding-left: 10%;
    width: 80%;
  }
  .menu .order {
    width: 25%;
    margin-left: 35%;
  }
  .menu .dish_price {
    padding-right: 25px;
    margin-left: auto;
    float: right;
  }
  .footer {
    height: 125px;
    padding-bottom: 0;
  }
  .footer_logo {
    position: absolute;
    margin-left: 85%;
    padding-top: 50px;
  }
  .footer_list {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    justify-content: flex-end;
    padding-right: 170px;
  }
  .footer .element_list {
    margin: 20px;
  }
}
.font_weight700 {
  font-weight: 700;
}

.font_weight500 {
  font-weight: 500;
}

.font_weight300 {
  font-weight: 300;
}

.font_weight_bold {
  font-weight: bold;
}

.white {
  color: white;
}

.width100 {
  width: 100%;
}

.border_none {
  border: none;
}

.flex {
  display: flex;
}

/*mixin medias_queries tablet and desktop*/
/*loader*/
/*restaurant cards home page and restaurant page*/
/*restaurant page, header*/
/*menu*/
/*home page*/
@media (min-width: 768px) and (max-width: 1024px) {
  /*loader*/
  .loader_spinner {
    font-size: 180px;
  }
  .loader_icon, .loader_logo {
    font-size: 60px;
  }
  .loader_spinner {
    margin-left: 38%;
    margin-top: 25%;
  }
  .loader_icon {
    margin-left: 45%;
    margin-top: 32%;
  }
  .loader_logo {
    margin-left: 30%;
    margin-top: 50%;
    padding-top: 20px;
  }
  /*main container*/
  .main-container {
    max-width: 1024px;
  }
  /*navbar*/
  .navbar_btn {
    width: 25%;
  }
  .navbar .first_title {
    font-size: 40px;
  }
  /*functioning section*/
  /*.width100{ width: 90%;}*/
  .functioning_number {
    display: flex;
  }
  /*restaurant cards*/
  .restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .btn_new {
    margin-left: 70%;
  }
  .restaurant {
    width: 100%;
  }
  .restaurant a {
    width: 50%;
  }
  .card {
    width: 90%;
    margin-left: 20px;
  }
  .card .btn_new {
    margin-left: 70%;
  }
  /*restaurant page*/
  /*header + img*/
  .header {
    background-color: white;
  }
  /*menu section*/
  .menu .menu {
    width: 80%;
    margin-left: 10%;
  }
  .menu .restaurant {
    justify-content: center;
  }
  .menu .menu_section {
    margin-left: 12%;
    width: 4%;
  }
  .menu .dish {
    padding-left: 10%;
    width: 80%;
  }
  .menu .order {
    width: 25%;
    margin-left: 35%;
  }
  .menu .dish_price {
    padding-left: 80px;
  }
}
/*navbar*/
.navbar {
  height: 350px;
  background-color: rgba(234, 234, 234, 0.4431372549);
  text-align: center;
}
.navbar .form_container {
  background-color: #EAEAEA;
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.2509803922), 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.navbar .form_container input.value {
  font-size: 16px;
  padding-left: 10px;
  background-color: #EAEAEA;
  width: 109px;
}
.navbar .first_title {
  font-size: 24px;
  height: 68px;
  padding-top: 30px;
  margin-bottom: 0;
}
.navbar .second_title {
  font-size: 18px;
  color: #353535;
  padding-bottom: 10px;
  margin-top: 0;
}
.navbar_btn {
  border-radius: 25px;
  height: 50px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  width: 50%;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  display: inline-block;
}
.navbar .btn_p {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.section_title {
  font-size: 24px;
  padding-left: 20px;
}

/*functioning section*/
.functioning_number {
  padding: 6px 10px;
  font-size: 13px;
  border: solid 1.5px #9356DC;
  border-radius: 50%;
  background-color: #9356DC;
  position: absolute;
  margin-top: 25px;
}
.functioning_button {
  flex-direction: column;
  padding: 10px 20px 10px 20px;
  justify-content: center;
  margin-bottom: 50px;
}
.functioning_btn {
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: #F6F6F6;
  height: 70px;
  margin-left: 10px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  width: 100%;
}
.functioning_p {
  font-size: 16px;
  padding-right: 50px;
  text-align: left;
  display: flex;
}
.functioning_icon {
  float: left;
  margin-left: 35px;
  margin-right: 20px;
}
.functioning_icon--purple {
  color: #9356DC;
}

/* section cards restaurants*/
.cards_restaurant {
  background-color: #F6F6F6;
  padding-top: 20px;
}

.card {
  border-radius: 15px;
  background-color: white;
  width: 90%;
  flex-direction: column;
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}
.card .btn_new {
  width: 80px;
  height: 30px;
  background-color: #99E2D0;
  position: absolute;
  margin-left: 250px;
  margin-top: 10px;
  border-radius: 2px;
}
.card .btn_txt {
  color: #008766;
  font-size: 14px;
  margin-top: 3px;
  text-align: center;
}
.card_img {
  border-radius: 15px 15px 0 0;
  height: 200px;
  object-fit: cover;
}
.card_content {
  color: black;
  justify-content: space-between;
  padding: 10px;
}
.card_txt h4,
.card_txt p {
  margin: 5px;
}
.card_title {
  font-size: 18px;
}
.card_subtitle {
  font-size: 17px;
}

/*heart checkbox*/
.heart-label {
  padding-top: 15px;
  font-size: 25px;
  padding-right: 30px;
  position: relative;
  cursor: pointer;
}

.hidden-checkbox {
  position: absolute;
  left: -9999px;
}

.fa-regular.fa-heart {
  opacity: 0.5;
  position: absolute;
}

.fa-solid.fa-heart.heartFilled {
  color: transparent;
  background: linear-gradient(180deg, #FF79DA -11.44%, #9356DC 123.93%);
  -webkit-background-clip: text;
  background-clip: text;
  position: absolute;
  visibility: hidden;
  opacity: 0;
}/*# sourceMappingURL=styles.css.map */