/*Loader*/
@keyframes loaderIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loader {
  background-color: #9356DC;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  animation: loader 3s both;
  z-index: 1;
}
.loader_content {
  font-size: 50px;
  display: flex;
  position: absolute;
}
.loader_icon {
  animation: loaderIcon 3s linear both;
  color: #FF79DA;
  margin-left: 45%;
  margin-top: 50%;
}
.loader_logo {
  color: white;
  font-family: "shrikhand";
  font-weight: 500;
  margin-left: 15%;
  margin-top: 60%;
  padding-top: 20px;
}

/*main-container*/
body {
  margin: 0;
  width: 100%;
  font-family: "Roboto";
}

.main-container {
  width: 100%;
  max-width: 768px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/*header*/
.header {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  width: 100%;
}
.header_logo {
  width: 50%;
}

/*navbar*/
.navbar {
  height: 350px;
  background-color: rgba(234, 234, 234, 0.4431372549);
  text-align: center;
}
.navbar .form_container {
  background-color: #EAEAEA;
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.2509803922), 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.navbar .form_container input {
  border: none;
}
.navbar .form_container input.value {
  font-size: 16px;
  padding-left: 10px;
  background-color: #EAEAEA;
  width: 109px;
}
.navbar .first_title {
  font-size: 24px;
  font-weight: 700;
  height: 68px;
  padding-top: 30px;
}
.navbar .second_title {
  font-size: 18px;
  color: #353535;
  font-weight: 300;
  padding-bottom: 10px;
}
.navbar_btn {
  border-radius: 25px;
  height: 50px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border: none;
  width: 50%;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
}
.navbar_btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}
.navbar .btn_p {
  color: white;
  font-weight: 500;
}

.section_title {
  font-size: 24px;
  font-weight: 700;
  padding-left: 20px;
}

/*functioning section*/
.functioning {
  width: 100%;
}
.functioning_number {
  padding: 5px 10px;
  font-size: 13px;
  border: solid 1.5px #9356DC;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  position: absolute;
  display: flex;
  margin-top: 25px;
}
.functioning_button {
  display: flex;
  flex-direction: column;
  padding: 10px 20px 10px 20px;
  justify-content: center;
  margin-bottom: 50px;
}
.functioning_btn {
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: #F6F6F6;
  height: 70px;
  border: none;
  width: 100%;
  margin-left: 10px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
}
.functioning_p {
  font-weight: 500;
  font-size: 16px;
  padding-right: 50px;
  text-align: left;
}
.functioning_icon {
  float: left;
  margin-left: 35px;
  margin-right: 20px;
}
.functioning_icon--purple {
  color: #9356DC;
}

/* section cards restaurants*/
.cards_restaurant {
  background-color: #F6F6F6;
  padding-top: 20px;
}

.card {
  border-radius: 15px;
  background-color: white;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}
.card .btn_new {
  width: 80px;
  height: 30px;
  background-color: #99E2D0;
  position: absolute;
  margin-left: 250px;
  margin-top: 10px;
  border: none;
  border-radius: 2px;
}
.card .btn_txt {
  color: #008766;
  font-size: 14px;
  margin-top: 3px;
}
.card_img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 200px;
  object-fit: cover;
}
.card_content {
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.card_txt h4,
.card_txt p {
  margin: 5px;
}
.card_title {
  font-weight: bold;
  font-size: 18px;
}
.card_subtitle {
  font-size: 17px;
}

@keyframes heartColor {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes emptyHeart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.card .hidden-checkbox:checked + .heart-label .fa-regular.fa-heart {
  opacity: 0;
}
.card .hidden-checkbox:checked + .heart-label .fa-solid.fa-heart.heartFilled {
  visibility: visible;
  opacity: 1;
  animation: heartColor 1s ease;
}
.card .hidden-checkbox:not(:checked) + .heart-label {
  opacity: 1;
  animation: emptyHeart 1s ease;
}

.hidden-checkbox {
  position: absolute;
  left: -9999px;
}

.heart-label {
  padding-top: 15px;
  font-size: 25px;
  padding-right: 30px;
  position: relative;
  cursor: pointer;
}

.fa-regular.fa-heart {
  opacity: 0.5;
  position: absolute;
}

.fa-solid.fa-heart.heartFilled {
  color: transparent;
  background: linear-gradient(180deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  background-clip: text;
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

/* footer */
.footer {
  background-color: #353535;
  height: 160px;
  padding: 22px 25px 22px 25px;
}
.footer_logo {
  font-size: 18px;
  color: white;
  font-family: "shrikhand";
  font-weight: 500;
}
.footer_list {
  list-style: none;
  color: white;
  font-size: 16px;
  padding-left: 0;
}
.footer .element_list {
  padding-bottom: 10px;
}
.footer_icon {
  margin-right: 15px;
  width: 11px;
}/*# sourceMappingURL=styles.css.map */